# please refer to https://docs.python.org/2/distutils/sourcedist.html#commands
prune .idea
exclude .coverage .coveragerc .python-version .gitignore
include .* *.bats *.png *.md *.ini *.in *.yml *.toml *.cfg *.gif *.sh *.txt
